.formula-title {
    display: grid;
    grid-template-columns: 1fr 4rem 2rem;
    align-items: center;
    width: 100%;
    input {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        margin: 0;
        outline: none;
        border: 2px solid $black;
        &:disabled {
            background-color: $white;
            border: 2px solid $white;
        }
    }
    button {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }
}