.box {
    position: absolute;
    background-color: $light-gray;
    border-radius: 10px;
    border: 1px solid $dark-gray;

    &.collapsed {
        .input-output-wrapper {
            height: 0;
            overflow: hidden;
        }
    }
    .box-contents {
        margin: 2rem;
    }
    
    .input-output {
        margin: 0.5rem 0;
        h3 {
            padding: 0.5rem;
            font-size: 1rem;
            margin: 0;
        }
        p {
            padding: 0.25rem 0.5rem;
            background-color: white;
            border: 1px solid $light-gray;
            font-family: 'Courier New', Courier, monospace;
            margin: 0;
        }
    }
}
