@import 'constants.scss';

.react-draggable {
    cursor: move;
}

.react-draggable.react-draggable-dragging {
    box-shadow: $box-shadow;
}

.no-drag {
    cursor: default;
}

.code-input_pre-element-styled {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

@import 'imports.scss';