.formula {
    position: relative;
    width: 100%;
    height: 100%;
    .buttons {
        width: 100%;
        display: flex;
        position: absolute;
        bottom: calc(min(5%, 25px));
        align-items: center;
        justify-content: flex-start;
        button:last-child {
            margin-left: auto;
        }
    }
    code-input {
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
        width: 100%;
        line-height: 0.75rem;
        min-width: min-content;
    }
    button {
        z-index: z('formula-button');
    }
}
