$node-diameter: 1.0rem;
$node-radius: 0.5rem;
$cursor-shift-hack: -100px;

.node-wrapper {
    position: absolute;
    top: calc(50% - 0.5rem);
    height: $node-diameter;
    width: $node-diameter;
    display: grid;
    place-items: center;
    &.input {
        left: -20px;
    }
    &.output {
        right: -20px;
    }
    .node {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: black;
        position: absolute;

        &.valid-hover {
            transform: scale(1.5);
        }
        &.selected-output {
            background-color: red;
        }
        transition: all 100ms ease-in-out;
    }
    
    .cursor-node {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: grab;

        &.react-draggable.react-draggable-dragging {
            box-shadow: none;
            top: $cursor-shift-hack;
            left: $cursor-shift-hack;
        }
    }
}
